@font-face {
  font-family: 'Gotham Book';
  src: url('fonts/gotham-book.otf') format('opentype');
  font-weight: normal;
}

@font-face {
  font-family: 'Gotham Bold';
  src: url('fonts/gotham-bold.otf') format('opentype');
  font-weight: normal;
}

html, body {
	display: block;
	width: 100%;
	margin: 0;
	padding: 0;
	font-family: 'Gotham Book', 'Arial', san-serif;
	font-size: 12px;
	color: #515151;
}

.close {
	display: block;
	background-color: #f4f4f4;
	margin: 7px;
	padding: 5px 10px;
	width: 64%;
	border-radius: 2px;
	letter-spacing: 0.5px;
	top: 10px;
}

.up-triangle {
	width: 0; 
	height: 0; 
	border-left: 7px solid transparent; 
	border-right: 7px solid transparent;
	border-bottom: 7px solid #f4f4f4;
	font-size: 0;
	line-height: 0;
	position: relative;
	top: 7px;
	left: 12px;
	}

.video {
	display: block;
	margin: 0;
}

.content {
	margin: 14px 0 0 7px;
	width: 300px;
}

h1 {
	font-family: 'Gotham Bold';
	font-size: 1.5em;
	letter-spacing: 1px;
	margin: 0 0 2px 0;
}

h2 {
	font-size: 1em;
	margin: 0 0 20px 0;
	letter-spacing: 0.6px;
}

h3 {
	letter-spacing: 1px;
}

a {
	color: #1798e0;
	text-decoration: none;
	margin: 0;
	padding: 0;
	font-family: 'Gotham Book';
	font-size: 1.1em;
}

ul {
	list-style-type: none;
	padding: 5px 0 0 7px;
}

li {
		width: 285px;
		border-radius: 2px;
		padding: 5px;
		margin: 3px 0 10px 0;
		color: #ffffff;
		font-family: 'Gotham Bold';
		letter-spacing: 1px;
		vertical-align: middle;
		display: inline-block;
	}

.upcoming-events {
	background-color: #42ccb5;
}

.businesses {
	background-color: #42b9cc;
}

.clubs {
	background-color: #4076cc;
}

.event-group {
	padding-left: 0;
}

.event-color {
	font-family: 'Gotham Book';
	color: #1798e0;
	text-decoration: none;

}