/* Core */

body, html, h1, h2, h3, h4, h5, section, header {
	padding: 0;
	margin : 0;
}

body {
	min-width: 999px;
	text-rendering: auto;
}

a {
	text-decoration: none;
}

html {
	width: 100%;
	height: 100%;
}

aside {
	z-index: 0;
}

section {
	background-color: #F77463;
	z-index: 50;	
	padding: 1.8em 5.1em;

	box-sizing: border-box;
	-ms-box-sizing: border-box;
	-o-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	display: inline-block;
}

.button {
	display: inline-block;
	padding: 5px 10px 3px;
	border-radius: 2px;
	background: #DE5B4A;
	color: #B73423;
	font-family: 'Bebas Neue';
	letter-spacing: 1.5px;
	position: relative;
	font-size: 24px;
	font-weight: 500;
	margin: 0 1.2em;
	letter-spacing: 2.8px;
}

/* Fonts */

@font-face {
	font-family: 'Gotham Rounded Book';
	src: url('fonts/GOTHAMRND-BOOK.otf') format('opentype');
}

@font-face {
	font-family: 'Nexa Slab Bold';
	src: url('fonts/NexaSlab-Bold.otf') format('opentype');
}

@font-face {
	font-family: 'Gotham Rounded Light';
	src: url('fonts/GOTHAMRND-LIGHT.otf') format('opentype');
}

@font-face {
	font-family: 'Bebas Neue';
	src: url('fonts/BEBASNEUE.otf') format('opentype');
}

/* Text */

article {
	font-family: 'Gotham Rounded Light';
	color: #FFDAC9;
	font-size: 18px;
	line-height: 1.5em;
	box-sizing: border-box;	
}

article a {
	color: #B83524;
}

article a:hover {
	color: #850200;
}

h2 {
	font-family: 'Nexa Slab Bold';
	color: #FFB4A3;
	font-size: 36px;
	letter-spacing: 1px;
	display: inline-block;
}

/* Header */ 

header {
	position: fixed;
	background-color: #FF8E7D;
	padding: 5px 0 5px;
	min-width: 1366px;
	width: 100%;
	height: 4.5em;
	z-index: 100;
}

nav {
	margin-left: 1.8em;
	cursor: pointer;
}

.table {
	display: table;
	margin: 0;
	padding: 0;
}

/* Shapes */ 

.circle {
	border-radius: 50%;
	position: absolute;
}

.face {
	width: 315px;
	height: 315px; 
	background-color: #FFB4A3;
	top: -3.5em;
	left: -7.5em;
}

.ear1 {
	width: 80px;
	height: 80px;
	background-color: #FFB4A3;
	top: 155px;
	right: -34px;
	z-index: 90;
}

.ear2 {
	width: 80px;
	height: 80px;
	background-color: #FFB4A3;
	top: 274px;
	right: 94px;
	z-index: 90;
}

.eye1 {
	width: 16px;
	height: 16px;
	background-color: #F77463;
	top: 164px;
	right: 70px;
	z-index: 90;
}

.eye2 {
	width: 16px;
	height: 16px;
	background-color: #F77463;
	top: 226px;
	right: 144px;
	z-index: 90;
}

.bubble {
	position: relative;
	display: inline-block;
	background-color: #DE5B4A;
	font-size: 36px;
	color: #FFA796;
	padding: 0.5em;
	width: 70%;
	top: 75px;
	left: 111px;
	font-family: 'Gotham Rounded Book';
	border-radius: 4px;
	box-shadow: 0 2px 2px 0px #C44130;
	z-index: 5;
}

.triangle {
	position: absolute;
	display: inline-block;
	width: 0; 
	height: 0; 
	border-left: 11px solid transparent;  /* left arrow slant */
	border-right: 11px solid transparent; /* right arrow slant */
	border-bottom: 19px solid #DE5B4A; /* bottom, add background color here */
	font-size: 0;
	line-height: 0;
	top: 85px;
	left: 265px;
	z-index: 6;
}

/* Body: Bio */ 

section.bio {
	display: inline-block;
	width: 100%;
	padding: 1.8em 8.4em;
}

section.bio article {
	margin: 0;
	padding: 105px 130px 0;	
}

/* Body: Portfolio */ 

section.portfolio {
	background-color: #EA6756;
	display: inline-block;
	width: 100%;
}

section.portfolio ul {
	padding: 1.3em 0;
}

.grid {
	margin: auto 0 auto 40px;
}

.grid li {
	display: inline-block;
	width: 400px;
	margin: 20px 0px;
	padding: 2px 20px;
	text-align: left;
	position: relative;
	vertical-align: top;
}

.grid figure {
	margin: 0;
	position: relative;
}

.grid figure img {
	max-width: 373px;
	display: block;
	position: relative;
	right: 2px;
}

.grid figcaption {
	position: absolute;
	top: 0;
	left: 0;
	padding: 20px;
	background: #2D2D2D;
	color: #FF8E7D;
}

.grid figcaption h3 {
	margin: 0;
	padding: 0;
	color: #fff;
	font-family: 'Nexa Slab Bold';
	letter-spacing: 1px;
}

.grid figcaption span {
	font-family: 'Bebas Neue';
	font-size: 18px;
	letter-spacing: 1.5px;
}

.cs-style-3 figure {
	overflow: hidden;
	display: block;
	border-radius: 5px;
	border: solid 15px #2D2D2D;
	box-shadow: 0 2px 3px #B73423;
}

.cs-style-3 figure img {
	-webkit-transition: -webkit-transform 0.4s;
	-moz-transition: -moz-transform 0.4s;
	transition: transform 0.4s;
}

.cs-style-3 figure:hover img,
.cs-style-3 figure.cs-hover img {
	-webkit-transform: translateY(-50px);
	-moz-transform: translateY(-50px);
	-ms-transform: translateY(-50px);
	transform: translateY(-50px);
}

.cs-style-3 figcaption {
	height: 100px;
	width: 100%;
	top: auto;
	bottom: 0;
	opacity: 0;
	-webkit-transform: translateY(100%);
	-moz-transform: translateY(100%);
	-ms-transform: translateY(100%);
	transform: translateY(100%);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s 0.3s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s 0.3s;
	transition: transform 0.4s, opacity 0.1s 0.3s;
}

.cs-style-3 figure:hover figcaption,
.cs-style-3 figure.cs-hover figcaption {
	opacity: 1;
	-webkit-transform: translateY(0px);
	-moz-transform: translateY(0px);
	-ms-transform: translateY(0px);
	transform: translateY(0px);
	-webkit-transition: -webkit-transform 0.4s, opacity 0.1s;
	-moz-transition: -moz-transform 0.4s, opacity 0.1s;
	transition: transform 0.4s, opacity 0.1s;
}

.cs-style-3 figcaption a {
	position: absolute;
	bottom: 20px;
	right: 20px;
}

ul {
	position: relative;
	z-index: 5;
	list-style-type: none;
	padding: 0;
	margin: 0.5em 0 0 0;
}

nav ul a {
	float: left;
	font-size: 24px;
	font-family: 'Bebas Neue';
	font-weight: 500;
	padding: 0.65em 0;
	margin: 0 1.5em;
	color: #FFDBCA;
	letter-spacing: 2.8px;
	vertical-align: middle;

	opacity: 0.5;
    -webkit-transition: all 0.4s ease-out;
    -moz-transition: all 0.4s ease-out;
    -o-transition: all 0.4s ease-out;
    transition: all 0.4s ease-out;
}

nav a:hover {
	color: #FFE7D6;
	opacity: 1;
    -webkit-transition: all 0.2s ease-in-out;
    -moz-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;    
}

ul a#linkName {
	font-family: 'Nexa Slab Bold';
	color: #D14E3D;
	letter-spacing: 0;
	font-size: 36px;
	padding: 0.35em 0;
}

ul a#linkName:hover {
	color: #C54231;
}

.learnmore {
	position: relative;
	display: inline-block;
	background-color: #2D2D2D;
	height: 257px;
	width: 333px;
	padding: 30px;
	font-family: 'Bebas Neue';
	font-size: 77px;
	color: #EFAD81;
	line-height: 1em;
	letter-spacing: 1.5px;	
	box-shadow: 0 2px 3px 2px #C44130;
}

.md-perspective,
.md-perspective body {
	height: 100%;
	overflow: hidden;
}

.md-perspective body  {
	background: #222;
	-webkit-perspective: 600px;
	-moz-perspective: 600px;
	perspective: 600px;
}

.container {
	background: #e74c3c;
	min-height: 100%;
}

.md-modal {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 50%;
	max-width: 630px;
	min-width: 320px;
	height: 90%;
	z-index: 2000;
	visibility: hidden;
	-webkit-backface-visibility: hidden;
	-moz-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform: translateX(-50%) translateY(-50%);
	-moz-transform: translateX(-50%) translateY(-50%);
	-ms-transform: translateX(-50%) translateY(-50%);
	transform: translateX(-50%) translateY(-50%);
}

.stopScroll {
	overflow: hidden;
}

.md-show {
	visibility: visible;
}

.md-overlay {
	position: fixed;
	width: 100%;
	height: 100%;
	visibility: hidden;
	top: 0;
	left: 0;
	z-index: 1000;
	opacity: 0;
	background: rgba(0,0,0,0.8);
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.md-show ~ .md-overlay {
	opacity: 1;
	visibility: visible;
}

.md-content {
	color: #fff;
	background: #2d2d2d;
	border-radius: 3px;
	overflow: auto;
	height: 100%;	
	text-align: right;
}

.md-content > div {
	position: relative;
	top: 50px;
	margin: 0;
	font-weight: 300;
	font-size: 1.15em;
	width: 100%;
}

div a.button {
	margin: 0;
}

div img {
	width: 100%;
}


.md-content > div p {
	margin: 0;
	padding: 10px 0;
}

.md-content > div ul {
	margin: 0;
	padding: 0 0 30px 20px;
}

.md-content > div ul li {
	padding: 5px 0;
}

/* Body: Resume */

section.resume {
	width: 50%;
	display: table-cell;
}

article.paper {
	width: 100%;
	margin: 1.3em;
	padding: 20px 15px;
	border-radius: 2px;
	box-shadow: 0 2px 4px 1px #C44130;
	min-width: 50%;

	background-image: linear-gradient(bottom, rgb(230,230,230) 6%, rgb(255,255,255) 53%);
	background-image: -o-linear-gradient(bottom, rgb(230,230,230) 6%, rgb(255,255,255) 53%);
	background-image: -moz-linear-gradient(bottom, rgb(230,230,230) 6%, rgb(255,255,255) 53%);
	background-image: -webkit-linear-gradient(bottom, rgb(230,230,230) 6%, rgb(255,255,255) 53%);
	background-image: -ms-linear-gradient(bottom, rgb(230,230,230) 6%, rgb(255,255,255) 53%);
	
	background-image: -webkit-gradient(
		linear,
		left bottom,
		left top,
		color-stop(0.06, rgb(230,230,230)),
		color-stop(0.53, rgb(255,255,255))
	);
} 

article.paper img {
	width: 100%;
}

.button {
	display: inline-block;
	padding: 5px 10px 3px;
	border-radius: 2px;
	background: #DE5B4A;
	color: #B73423;
	font-family: 'Bebas Neue';
	letter-spacing: 1.5px;
	position: relative;
	font-size: 20px;
	font-weight: 500;
	margin: 0 1.2em;
	letter-spacing: 2.8px;
	box-shadow: 0 2px 2px 0px #C44130;
	cursor: pointer;
}

figcaption .button {
	box-shadow: 0 2px 2px 0px #202020;
}

figcaption .button:hover {
	box-shadow: inset 0 0px 4px 0 #9E1B0A;
}

.button:hover {
	box-shadow: inset 0 2px 6px 0px #B73423;
	border-radius: 3px;
	background-color: #D14E3D;
}

/* Body: Contact*/

section.contact {
	display: table-cell;
	background-color: #D14E3D;
	height: 100%;
	vertical-align: top;
	width: 50%;
}

section.contact article {
	padding: 20px;
}

/* Footer */

footer {
	background-color: #2D2D2D;
	height: 100%;
	padding: 1.8em 8.4em;
	font-family: 'Gotham Rounded Light';
	font-size: 12px;
	color: #CC8170;
	text-align: center;
}