html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  color: #777777;
  font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
}
