@import "_constants";

// Mixins
.mixin-card() {
  border: 1px solid #ececec;
  border-radius: 6px;
  box-shadow: 0 1px 4px #e6e6e6;
  text-decoration: none;
  transition: box-shadow 0.5s;

  &:hover {
    box-shadow: 0 3px 5px #ddd;
  }

  .image {
    background-color: #f7f7f7;
  }

  .read-more {
    color: @font-red-highlight;
    font-size: 1.2em;
    font-style: italic;
    text-decoration: none;
  }

  .card-title {
    margin: 0 0 0.4em;
    font-size: 1.5em;
    color: #777;
  }

  .card-text {
    font-size: 1.1em;
    line-height: 1.7em;
    color: #999;
  }
}

// Transitions
@keyframes slidein {
  from {
    position: relative;
    top: -60px;
  }

  to {
    position: relative;
    top: 0;
    display: flex;
  }
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

html {
  color: #777777;
  font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
}

.hidden {
  display: none;
}

.nav-divider {
  background-color: #dfdfdf;
  display: block;
  flex: 0 0 auto;
  height: 8px;
  width: 1px;
}

// Sticky Header Navigation
.sticky-nav {
  align-items: center;
  background-color: white;
  border-bottom: 1px solid #dfdfdf;
  box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: space-around;
  padding: 0 18vw;
  position: fixed;
  width: 64vw;
  z-index: 2;

  .nav-item {
    align-items: center;
    color: @font-red-highlight;
    display: flex;
    padding: 0.75em;
    text-decoration: none;
    font-size: 1.2em;
    font-style: italic;
    justify-content: center;
    width: 100%;
    transition: background-color 0.2s;

    &:hover {
      background-color: rgba(233,96,87,0.05);
    }

    &.sticky-name {
      cursor: pointer;
      font-family: 'Museo', 'Museo Sans 500', 'Arial', 'Helvetica', sans-serif;
      font-style: normal;
    }
  }

  .nav-divider:first-of-type {
    align-self: stretch;
    height: auto;
  }
}

// Splash Intro
.page-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
  justify-content: center;

  .splash-container {
    transition: transform 0.5s;
    transform: translateY(1em);

    &.slide {
      transform: translateY(-2em);
    }

    .intro-title {
      font-size: 3em;
      font-family: 'Museo', 'Museo Sans 500', 'Arial', 'Helvetica', sans-serif;
      font-weight: 500;
      text-align: center;

      .title-name {
        text-decoration: none;
        color: @font-red-highlight;
        font-weight: 600;
        position: relative;
        top: 1px;
        font-size: 1.1em;
      }
    }

    .intro-text {
      text-align: center;
      width: 35vw;
      line-height: 1.7;
      font-weight: 500;
      margin: 0.5em 0 1em;
      color: #999;
    }

    .header-nav {
      align-items: center;
      display: flex;
      justify-content: center;

      .intro-link {
        color: @font-red-highlight;
        font-style: italic;
        font-family: 'Lato', 'Arial', 'Helvetica', sans-serif;
        text-decoration: none;
        padding: 0.5em 1em;
        font-size: 1.4em;
        transition: background-color 0.2s;
        border-radius: 6px;

        &:hover {
          background-color: rgba(233, 96, 87, 0.05);
        }
      }
    }
  }

  .contact-container {
    opacity: 0;
    height: 8em;
    transition: opacity 0.3s ease-in-out;

    &.show {
      opacity: 1;
    }

    .contact-options {
      display: none;
      flex-direction: row;
      width: 50vw;
      justify-content: space-around;
      font-family: 'Lato';
      color: #868686;
      text-transform: uppercase;
      font-weight: 600;
      letter-spacing: 0.75px;
      font-size: 1em;
      margin-top: 0.5em;

      &.flex {
        display: flex;
      }

      a {
        background-repeat: no-repeat;
        background-size: 4em;
        height: 5.5em;
        width: 5em;
        display: flex;
        justify-content: center;
        align-items: flex-end;
        cursor: pointer;
        transition: background-color 0.3s;
        padding: 1.5em;
        background-position: center 1em;
        border-radius: 6px;
        text-decoration: none;
        color: #868686;

        &:hover {
          background-color: #f7f7f7;
        }

        &.email {
          background-image: url("../svg/email.svg");
        }
        &.linkedin {
          background-image: url("../svg/linkedin.svg");
        }
        &.twitter {
          background-image: url("../svg/twitter.svg");
        }
        &.form {
          background-image: url("../svg/form.svg");
        }
      }
    }
  }
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

// Individual groupings
.projects.featured {

  .project {
    margin-bottom: 3em;
    width: 50vw;

    .pre {
      overflow: hidden;
      width: 41%;
      background-position: center;
      background-origin: border-box;
      background-repeat: no-repeat;
      background-size: 100%;
      -webkit-transition: all 0.3s ease-in-out;
      transition: all 0.3s ease-in-out;
      border-right: 1px solid #ececec;
      border-radius: 3px 0 0 3px;

      &.quora {
        background-image: url("../img/quora-pre.png");
      }

      &.inkling {
        background-image: url("../img/inkling-pre.png");
      }

      &.quickmatch {
        background-image: url("../img/quickmatch-pre.png");
      }
    }

    .project-title {
      font-weight: 600;
      text-transform: uppercase;
      font-size: 0.85em;
      letter-spacing: 0.1em;
      margin-bottom: 0.3em;
    }

    // Large card style
    .card {
      .mixin-card();

      display: flex;
      // padding: 1.5em;
      

      &:hover .pre {
        background-size: 150%;
      }

      .image {
        width: 18vw;
        height: 11vw;
        display: inline-block;
      }

      .card-content {
        display: inline-block;
        width: 50%;
        vertical-align: top;
        margin: 1.5em;

        .read-more {
          display: block;
          margin-top: 0.7em;
          width: 7em;
        }
      }

      .card-text {
        font-size: 1.1em;
        line-height: 1.7em;
        color: #999;
      }
    }
  }
}

// Small Card Style
.projects-row {
  display: flex;
  justify-content: space-between;
  width: 50vw;

  .project {
    margin-bottom: 3em;
    width: 30%;

    .card {
      .mixin-card();

      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0;

      .image {
        width: 100%;
        height: 100px;
      }

      .card-title {
        font-size: 1em;
      }

      .card-content {
        width: 92%;
        text-align: center;
        margin: 1em 0;
        display: flex;
        align-items: center;
        flex-direction: column;

        .read-more {
          font-size: 1em;
          margin-top: 0;
        }
      }
    }
  }
}