@import "_base";
@import "_common";
@import "_constants";
@import "_header_bar";
@import "projects/_common_footer";

.hidden {
  display: none;
}

// Splash Intro
.page-header {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;

  .splash-container {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transform: translateY(1em);
    transition: transform 0.5s;

    &.slide {
      transform: translateY(-2em);
    }

    .jessica-picture {
      width: 10vw;
      margin-bottom: 1em;
    }

    .intro-title {
      font-family: @font-museo-sans;
      font-size: 3em;
      font-weight: 500;
      text-align: center;

      .title-name {
        color: @font-red-highlight;
        font-size: 1.1em;
        font-weight: 600;
        position: relative;
        text-decoration: none;
        top: 1px;
      }
    }

    .intro-text {
      color: @font-black;
      font-weight: 500;
      line-height: 1.7;
      margin: 0.5em 0 1em;
      text-align: center;
      width: 35vw;
    }

    .header-nav {
      align-items: center;
      display: flex;
      justify-content: center;

      .intro-link {
        border-radius: 6px;
        color: @font-red-highlight;
        font-size: 1.4em;
        font-style: italic;
        font-family: @font-lato;
        padding: 0.5em 1em;
        text-decoration: none;
        transition: background-color 0.2s;

        &:hover {
          background-color: rgba(233, 96, 87, 0.05);
        }
      }
    }
  }

  .contact-container {
    height: 8em;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;

    &.show {
      opacity: 1;
    }

    .contact-options {
      color: @font-dark-gray;
      display: none;
      flex-direction: row;
      font-family: @font-lato;
      font-size: 1em;
      font-weight: 600;
      justify-content: space-around;
      letter-spacing: 0.75px;
      margin-top: 0.5em;
      text-transform: uppercase;
      width: 36vw;

      &.flex {
        display: flex;
      }

      a {
        align-items: flex-end;
        background-position: center 1em;
        background-repeat: no-repeat;
        background-size: 4em;
        border-radius: 6px;
        color: @font-dark-gray;
        cursor: pointer;
        display: flex;
        height: 5.5em;
        justify-content: center;
        padding: 1.5em;
        text-decoration: none;
        transition: background-color 0.3s;
        width: 5em;

        &:hover {
          background-color: @bg-light-gray;
        }

        &.email {
          background-image: url("../svg/email.svg");
        }

        &.linkedin {
          background-image: url("../svg/linkedin.svg");
        }

        &.twitter {
          background-image: url("../svg/twitter.svg");
        }

        &.form {
          background-image: url("../svg/form.svg");
        }
      }
    }
  }
}

.projects {
  align-items: center;
  display: flex;
  flex-direction: column;
  height: 90vh;
}

// Individual groupings
.projects.featured {
  .project {
    margin-bottom: 3em;
    max-width: 760px;
    width: 70vw;

    .project-title {
      font-size: 0.85em;
      font-weight: 600;
      letter-spacing: 0.1em;
      margin-bottom: 0.3em;
      text-transform: uppercase;
    }

    // Large card style
    .card {
      .mixin-card();
      display: flex;

      &:hover .pre .image {
        transform: scale(1.25);
      }

      .pre {
        border-radius: 3px 0 0 3px;
        border-right: 1px solid @border-gray;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        width: 41%;

        .image {
          background-origin: border-box;
          background-position: center;
          background-repeat: no-repeat;
          background-size: cover;
          flex: 1 1 auto;
          transition: transform 0.3s ease-in-out,
              -webkit-filter 0.3s ease-in-out;
        }

        &.quora .image {
          background-image: url("../img/quora-pre.png");
        }

        &.inkling .image {
          background-image: url("../img/inkling-pre.png");
        }

        &.quickmatch .image {
          background-image: url("../img/quickmatch-pre.png");
        }
      }

      .card-content {
        display: inline-block;
        margin: 1.5em;
        vertical-align: top;
        width: 50%;

        .read-more {
          display: block;
          margin-top: 0.7em;
          width: 7em;
        }
      }

      .card-text {
        color: @font-black;
        font-size: 1.1em;
        line-height: 1.7em;
      }
    }
  }
}

// Small Card Style
.projects-row {
  display: flex;
  justify-content: space-between;
  width: 50vw;

  .project {
    margin-bottom: 3em;
    width: 30%;

    .card {
      .mixin-card();

      align-items: center;
      display: flex;
      flex-direction: column;
      padding: 0;

      .image {
        height: 100px;
        width: 100%;
      }

      .card-title {
        font-size: 1em;
      }

      .card-content {
        align-items: center;
        display: flex;
        flex-direction: column;
        margin: 1em 0;
        text-align: center;
        width: 92%;

        .read-more {
          font-size: 1em;
          margin-top: 0;
        }
      }
    }
  }
}

@media only screen and (max-width : 1260px) {
  .page-header .splash-container .intro-text {
    width: 50vw;
  }
}

@media only screen and (max-width : 1080px) {
  .projects.featured .project {
    max-width: none;
    width: 80vw;
  }
}

@media only screen and (max-width : 800px) {
  .page-header .splash-container .intro-text {
    width: 50vw;
  }

  .page-header .splash-container .intro-text {
    width: 75vw;
  }
  .projects {
    align-items: baseline;

    &.featured .project {
      width: 100vw;

      .project-title {
        margin-left: 1em;
      }
    }
  }
}

@media only screen and (max-width : 500px) {
  html {
    font-size: 12px;

    .page-header .splash-container {
      .intro-title {
        font-size: 4em;
        line-height: 1.2;
        margin-bottom: 0.25em;
        width: 85vw;
      }
      .header-nav .intro-link {
        text-align: center;
      }
    }
  }
}