@import "../_base";
@import "../_constants";
@import "../_header_bar";
@import "_common_footer";

html {
  font-size: 15px;
}

.sticky-header();

.window-container {
  border-radius: 5px;
  background-size: 3.5em;
  background: #eaeaea url("../../svg/browser.svg") no-repeat 11px 11px;
  margin: 1.5em 3em 0.5em;
  display: flex;
  flex-direction: column;
  width: 50vw;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);

  img {
    top: 0;
    width: 100%;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
    position: relative;
  }

  h4 {
    text-align: center;
    font-family: 'Lato', sans-serif;
    font-size: 0.75em;
    color: #777;
    margin: 0.75em auto;
    background-color: #f7f7f7;
    width: 50%;
    padding: 0.2em 0;
  }

  &:last-of-type {
    margin-bottom: 0;
  }
}

.project-page {
  .box {
    margin: 1.5em 0 0;
    height: 30vh;
    background-color: aliceblue;

    &.full-b {
      width: 90vw;
      max-width: 760px;
    }

    &.half-b {
      width: 25vw;
    }
  }

  header {
    align-items: center;
    background-color: #8e191f;
    display: flex;
    padding: 10em 10vw;

    h1, h2 {
      color: #fff;
      max-width: 760px;
      text-align: left;
    }
    .logo {
      max-width: 200px;
      min-width: 100px;
      width: 14vw;
    }

    h1 {
      margin: 0.5em 0;
      font-size: 2.75em;
      line-height: 1.1em;
      font-family: 'Museo Sans', 'Museo Sans 500', sans-serif;
      font-weight: 500;
    }

    h2 {
      letter-spacing: 0.05em;
      line-height: 1.8;
      font-family: 'Lato', sans-serif;
      font-size: 1.25em;
      font-weight: 300;
    }

    .half {
      width: 50vw;
    }
  }

  article {
    display: flex;
    flex-direction: column;
    text-align: center;
    font-family: 'Lato', sans-serif;
    line-height: 1.8;

    div {
      line-height: 1.8;
      font-size: 1.4em;
      // margin: 0 7vw;
    }

    section {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      width: 100%;
      padding: 10em 0;
      margin: 0;

      &.blunt {
        padding-bottom: 0;
      }

      &.continued {
        padding-top: 0;

        .over-cards {
          margin: 0 auto 1em;

          .little-card {
            position: relative;
            bottom: 0.5em;
            box-shadow: 0 2px 4px #e6e6e6;
            border-top: none;
            padding: 0.5em;
            box-sizing: border-box;

            h4 {
              margin: 0;
            }
          }
        }
      }

      &:nth-child(even) {
        background-color: #f4f4f4;
      }

      div {
        color: #777;
        font-size: 1.3em;
        letter-spacing: 0.75px;

        &.full {
          width: 60vw;
        }

        &.half {
          width: 50vw;
          text-align: left;
          min-width: 320px;
          align-self: center;
          margin-right: 1em;
        }

        &.third-container {
          display: flex;
          margin-top: 2em;
          width: 60vw;
          justify-content: space-between;

          .third-item {
            background-color: white;
            border-radius: 4px;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
            display: flex;
            flex-direction: column;
            justify-content: center;
            margin: 0;
            padding: 0.5em;
            width: 250px;

            h3 {
              display: block;
              font-size: 0.6em;
              line-height: 1.6;
              margin: 0 auto 0.5em;
            }
            p {
              font-size: 0.5em;
              line-height: 1.7;
              margin: 0;
            }
          }
        }

        video {
          display: flex;
          padding-top: 2.5em;
          width: 100%;
        }

        &.window-container {
          font-size: 1em;
          letter-spacing: 0;
          margin-bottom: 3em;

          img {
            width: 100%;
          }

          h4 {
            padding: 0;
            letter-spacing: 0.35px;
          }

          &:last-of-type {
            margin-bottom: 0;
          }
            .video {
              display: block;
              width: 65vw;
              position: relative;
              top: 0.5em;
            }
        }

        &.mobile-container {
          display: flex;
          width: 50vw;
          justify-content: center;
          
          video {
            max-width: 370px;
            max-height: 630px;
            background-color: #515151;
            padding: 3.5em 0.1em;
            border-radius: 1em;
            box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          }
        }
      }

      h3 {
        width: 100%;
        font-size: 0.9em;
        color: #515151;
        margin-top: 6em;
        text-transform: uppercase;
        letter-spacing: 1.5px;

        &.blue {
          color: #81aad9;
        }
      }

      img {
        width: 25vw;
        position: relative;
        min-width: 320px;
      }

      .over-cards {
        display: flex;
        flex-wrap: wrap;
        width: 45%;
        justify-content: space-around;
        margin-top: 3em;

        .little-card {
          width: 14vw;
          border: 1px solid #ececec;
          box-shadow: 0 1px 4px #e6e6e6;
          background-color: #fff;
          margin: 0;
          box-sizing: border-box;
          min-width: 200px;

          h4 {
            font-weight: 600;
            text-transform: uppercase;
            font-size: 0.6em;
            letter-spacing: 0.1em;
            margin: 0.75em 0 0;

            &.red {
              color: #ce2d2d;
            }

            &.blue {
              color: #81aad9;
            }

            &.green {
              color: #a0c98c;
            }
          }

          p {
            font-size: 0.5em;
            padding: 0 1em;
            line-height: 1.7;
          }
        }
      }
    }

    ol {
      font-size: 1.2em;
      margin: 0;
      padding-left: 2.5em;

      li {
        list-style-type: lower-roman;
        font-weight: 600;
        margin-bottom: 1em;

        p {
          font-weight: 500;
          margin: 0.5em 0 0;
          line-height: 1.6;
        }

        &:last-of-type {
          margin-bottom: 0;
        }
      }
    }
  }
}

footer {
  background-color: #fff;
  border: 1px solid #dfdfdf;
  box-shadow: 0 -1px 5px rgba(0, 0, 0, 0.1);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10em 0 5em;

  h2 {
    font-family: "Museo Sans", "Museo Sans 500", sans-serif;
    font-weight: 500;
    color: #bababa;
    font-size: 2em;
    margin-bottom: 1.5em;
  }

  h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 0.8em;
    letter-spacing: 0.1em;
    margin: 3em 0 0.3em;

    &:first-of-type {
      margin-top: 0;
    }
  }

  .footer-contact {
    .footer-contact();
  }

  .footer-projects {
    .footer-projects();
  }
}

/* Smartphones (portrait and landscape) ----------- */
@media only screen and (max-width : (@screen-max-width-phone - 1px)) {
  html, body {
    font-size: 10px;

    &.project-page {
      header {

        .half {
          width: 100%;
        }

        h1, h2 {
          width: 100%;
        }

        h1 {
          line-height: 1.2;
        }

        h2 {
          line-height: 1.5;
        }
      }

      h3 {
        font-size: 1.2em;
      }

      h4 {
        font-size: 0.8em;
        letter-spacing: 0.75px;
      }

      div.full, div.half {
        text-align: left;
        line-height: 1.5;
      }

      section {
        padding: 5em 0;

        &.blunt {
          padding-bottom: 5em;
        }

        &.continued {
          padding-top: 5em;

          .over-cards .little-card {
            box-shadow: none;
          }
        }
      }
      .over-cards {
        margin: 0;
        width: 80vw;

        .little-card {
          width: 80vw;
          border: none;
          box-shadow: none;
          background-color: transparent;

          h4 {
            font-size: 0.5em;
            text-align: left;
            margin-bottom: 0;
          }

          p {
            padding: 0;
            font-size: 0.6em;
            text-align: left;
            margin-top: 0;
          }
        }
      }
    }
  }
}

/* Screens */
// @media only screen
// and (min-width : @screen-max-width-phone)
// and (max-width : (@screen-max-width-tablet - 1px)) {
//   html, body {
//     font-size: 12px;
//   }
// }


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {
  // .project-page {
  //   header {
  //     flex-direction: column;
  //     padding: 0;
  //     font-size: 1.5em;
  //     padding: 5em;

  //     .half {
  //       width: 80vw;
  //       display: flex;
  //       flex-direction: column;
  //       align-items: center;

  //       .logo {
  //         width: 25vw;
  //       }

  //       h1, h2 {
  //         text-align: center;
  //         max-width: none;
  //       }

  //       .window-container {
  //         width: 80vw;
  //         background-size: initial;
  //         background-position: 25px 25px;

  //         h4 {
  //           font-size: 1.5em;
  //         }
  //       }
  //     }
  //   }
  //   article {
  //     font-size: 0.9em;
  //     section {
  //       &.continued {
  //         margin-top: 6em;
  //         .over-cards {
  //           display: none;
  //         }
  //       }

  //       div {
  //         &.full, &.half {
  //           width: 80vw;
  //           text-align: left;
  //         }
  //         &.window-container {
  //           width: 80vw;
  //           background-size: initial;
  //           background-position: 25px 25px;

  //           h4 {
  //             font-size: 2.5em;
  //           }
  //         }
  //         &.third-container {
  //           flex-direction: column;
  //           width: 100vw;
  //           margin-top: 7em;

  //           .third-item {
  //             width: 100%;
  //             font-size: 4.5em;
  //             padding: 0;
  //             text-align: left;
  //             box-shadow: none;
  //             border: 1px solid #ddd;

  //             h3 {
  //               padding: 0 1em;
  //               margin: 0.75em 0 0;
  //             }

  //             p {
  //               padding: 0 2em;
  //               margin-bottom: 1em;
  //             }
  //           }
  //         }
  //       }
  //       img.standalone {
  //         width: 100vw;
  //         margin-top: 6em;
  //       }
  //       .over-cards {
  //         width: 100vw;
  //         font-size: 2em;
  //         margin-top: 5.5em;
  //         text-align: left;

  //         .little-card {
  //           width: 100vw;
  //           box-shadow: none;
  //           border: 1px solid #ddd;

  //           h4 {
  //             padding: 0 1em;
  //           }

  //           p {
  //             padding: 0 2em;
  //             margin-top: 0.25em;
  //           }
  //         }
  //       }
  //     }
  //   }
  // }
  // footer {
  //   font-size: 2.5em;
  //   line-height: 1.5;
  //   padding-top: 0;
  //   text-align: center;

  //   h2 {
  //     padding: 1em 1.5em 0;
  //     margin-bottom: 0;
  //   }

  //   .footer-contact {
  //     width: 100vw;

  //     a {
  //       background-size: 50%;
  //       background-position: center 2em;
  //     }
  //   }
  //   .footer-projects {
  //     font-size: 0.35em;
  //     margin-top: 3em;

  //     .project-title {
  //       text-align: left;
  //     }

  //     .card {
  //       flex-direction: column;
  //       font-size: 2.5em;

  //       .pre {
  //         height: 200px;
  //         width: 100%;
  //       }
  //       .card-content {
  //         width: 87%;

  //         .read-more {
  //           width: 100%;
  //         }
  //       }
  //     }
  //   }
  // }
}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {
  // html {
  //   font-size: 13px;

  //   .project-page {
  //     header {
  //       width: 100%;
  //       max-width: 850px;
  //       // width: 54vw;
  //       // min-width: 690px;
  //       font-size: 1em;

  //       .half {
  //         width: 60vw;

  //         .window-container {
  //           width: 60vw;

  //           h4 {
  //             font-size: 1em;
  //           }
  //         }
  //       }
  //     }

  //     article {
  //       width: 67vw;

  //       section div {
  //         &.full {
  //           width: 85%;
  //         }
  //         &.window-container h4{
  //           font-size: 1em;
  //         }
  //       }
  //     }
  //   }
  // }
}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {

}



/*==========  Non-Mobile First Method  ==========*/

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {

}