html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  color: #777;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
}
.sticky-header {
  position: fixed;
  z-index: 2;
}
.sticky-nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: 1px solid #DFDFDF;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0 18vw;
  width: 64vw;
}
.sticky-nav .nav-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E96057;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  font-style: italic;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
}
.sticky-nav .nav-item:hover {
  background-color: rgba(233, 96, 87, 0.05);
}
.sticky-nav .nav-item.sticky-name {
  cursor: pointer;
  font-family: "Museo Sans", "Museo Sans 500", sans-serif;
  font-style: normal;
}
@media only screen and (max-width: 800px) {
  .sticky-nav {
    padding: 0;
    width: 100vw;
  }
}
.project-footer {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  border-top: 1px solid #DFDFDF;
  -webkit-box-shadow: 0 -0.2em 20em rgba(0, 0, 0, 0.1);
          box-shadow: 0 -0.2em 20em rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10em 0 5em;
  position: relative;
}
.project-footer h2 {
  color: #BABABA;
  font-family: "Museo Sans", "Museo Sans 500", sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1.5em;
}
.project-footer h3 {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 3em 0 0.3em;
}
.project-footer h3:first-of-type {
  margin-top: 0;
}
.project-footer .footer-contact {
  color: #868686;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 600;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  letter-spacing: 0.75px;
  margin-bottom: 4em;
  text-transform: uppercase;
  width: 50vw;
}
.project-footer .footer-contact a {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center 1.25em;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: #868686;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 6.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 6.5em;
}
.project-footer .footer-contact a:hover {
  background-color: #F7F7F7;
}
.project-footer .footer-contact a.email {
  background-image: url("../../svg/email.svg");
}
.project-footer .footer-contact a.form {
  background-image: url("../../svg/form.svg");
}
.project-footer .footer-contact a.linkedin {
  background-image: url("../../svg/linkedin.svg");
}
.project-footer .footer-contact a.twitter {
  background-image: url("../../svg/twitter.svg");
}
.project-footer .footer-projects {
  max-width: 760px;
}
.project-footer .footer-projects .card {
  border: 1px solid #ECECEC;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px #e6e6e6;
          box-shadow: 0 1px 4px #e6e6e6;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.project-footer .footer-projects .card:hover {
  -webkit-box-shadow: 0 3px 5px #ddd;
          box-shadow: 0 3px 5px #ddd;
}
.project-footer .footer-projects .card .image {
  background-color: #F7F7F7;
}
.project-footer .footer-projects .card .read-more {
  color: #E96057;
  font-size: 1.2em;
  font-style: italic;
  text-decoration: none;
}
.project-footer .footer-projects .card .card-title {
  color: #777;
  font-size: 1.5em;
  margin: 0 0 0.4em;
}
.project-footer .footer-projects .card .card-text {
  color: #999;
  font-size: 1.1em;
  line-height: 1.7em;
}
.project-footer .footer-projects .card:hover .pre .image {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}
.project-footer .footer-projects .card .pre {
  -webkit-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
  border-right: 1px solid #ECECEC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 41%;
}
.project-footer .footer-projects .card .pre .image {
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  transition: transform 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}
.project-footer .footer-projects .card .pre.quora .image {
  background-image: url("../../img/quora-pre.png");
}
.project-footer .footer-projects .card .pre.inkling .image {
  background-image: url("../../img/inkling-pre.png");
}
.project-footer .footer-projects .card .pre.quickmatch .image {
  background-image: url("../../img/quickmatch-pre.png");
}
.project-footer .footer-projects .card .card-content {
  display: inline-block;
  margin: 1.5em;
  vertical-align: top;
  width: 50%;
}
.project-footer .footer-projects .card .card-content .read-more {
  display: block;
  margin-top: 0.7em;
  width: 7em;
}
.project-footer .footer-projects .card .card-text {
  color: #999;
  font-size: 1.1em;
  line-height: 1.7em;
}
.copyright {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 1110px) {
  .project-footer .footer-projects .card .card-text {
    line-height: 1.4;
  }
}
@media only screen and (max-width: 690px) {
  .project-footer .footer-contact {
    width: 100vw;
  }
  .project-footer .footer-projects h3.project-title {
    margin-left: 1em;
  }
  .project-footer .footer-projects .card {
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}
@media only screen and (max-width: 575px) {
  .project-footer .footer-contact {
    width: 85vw;
  }
  .project-footer .footer-contact a {
    background-size: 50px;
  }
}
@media only screen and (max-width: 450px) {
  html .project-page .project-footer {
    font-size: 10px;
  }
  html .project-page .project-footer .footer-contact a {
    background-size: 38px;
  }
  html .project-page .project-footer .footer-projects .card .card-text {
    font-size: 1.3em;
  }
  html .project-page .project-footer h2 {
    line-height: 1.5;
    text-align: center;
  }
  html .project-page .project-footer h3 {
    font-size: 1em;
    margin-left: 1em;
  }
}
.hidden {
  display: none;
}
.page-header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header .splash-container {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-transform: translateY(1em);
      -ms-transform: translateY(1em);
          transform: translateY(1em);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
.page-header .splash-container.slide {
  -webkit-transform: translateY(-2em);
      -ms-transform: translateY(-2em);
          transform: translateY(-2em);
}
.page-header .splash-container .jessica-picture {
  width: 10vw;
  margin-bottom: 1em;
}
.page-header .splash-container .intro-title {
  font-family: "Museo Sans", "Museo Sans 500", sans-serif;
  font-size: 3em;
  font-weight: 500;
  text-align: center;
}
.page-header .splash-container .intro-title .title-name {
  color: #E96057;
  font-size: 1.1em;
  font-weight: 600;
  position: relative;
  text-decoration: none;
  top: 1px;
}
.page-header .splash-container .intro-text {
  color: #999;
  font-weight: 500;
  line-height: 1.7;
  margin: 0.5em 0 1em;
  text-align: center;
  width: 35vw;
}
.page-header .splash-container .header-nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.page-header .splash-container .header-nav .intro-link {
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: #E96057;
  font-size: 1.4em;
  font-style: italic;
  font-family: "Lato", sans-serif;
  padding: 0.5em 1em;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
}
.page-header .splash-container .header-nav .intro-link:hover {
  background-color: rgba(233, 96, 87, 0.05);
}
.page-header .contact-container {
  height: 8em;
  opacity: 0;
  -webkit-transition: opacity 0.3s ease-in-out;
  transition: opacity 0.3s ease-in-out;
}
.page-header .contact-container.show {
  opacity: 1;
}
.page-header .contact-container .contact-options {
  color: #868686;
  display: none;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 600;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  letter-spacing: 0.75px;
  margin-top: 0.5em;
  text-transform: uppercase;
  width: 36vw;
}
.page-header .contact-container .contact-options.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.page-header .contact-container .contact-options a {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-position: center 1em;
  background-repeat: no-repeat;
  background-size: 4em;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: #868686;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 5.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 5em;
}
.page-header .contact-container .contact-options a:hover {
  background-color: #F7F7F7;
}
.page-header .contact-container .contact-options a.email {
  background-image: url("../svg/email.svg");
}
.page-header .contact-container .contact-options a.linkedin {
  background-image: url("../svg/linkedin.svg");
}
.page-header .contact-container .contact-options a.twitter {
  background-image: url("../svg/twitter.svg");
}
.page-header .contact-container .contact-options a.form {
  background-image: url("../svg/form.svg");
}
.projects {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 90vh;
}
.projects.featured .project {
  margin-bottom: 3em;
  max-width: 760px;
  width: 70vw;
}
.projects.featured .project .project-title {
  font-size: 0.85em;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin-bottom: 0.3em;
  text-transform: uppercase;
}
.projects.featured .project .card {
  border: 1px solid #ECECEC;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px #e6e6e6;
          box-shadow: 0 1px 4px #e6e6e6;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.projects.featured .project .card:hover {
  -webkit-box-shadow: 0 3px 5px #ddd;
          box-shadow: 0 3px 5px #ddd;
}
.projects.featured .project .card .image {
  background-color: #F7F7F7;
}
.projects.featured .project .card .read-more {
  color: #E96057;
  font-size: 1.2em;
  font-style: italic;
  text-decoration: none;
}
.projects.featured .project .card .card-title {
  color: #777;
  font-size: 1.5em;
  margin: 0 0 0.4em;
}
.projects.featured .project .card .card-text {
  color: #999;
  font-size: 1.1em;
  line-height: 1.7em;
}
.projects.featured .project .card:hover .pre .image {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}
.projects.featured .project .card .pre {
  -webkit-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
  border-right: 1px solid #ECECEC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 41%;
}
.projects.featured .project .card .pre .image {
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  transition: transform 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}
.projects.featured .project .card .pre.quora .image {
  background-image: url("../img/quora-pre.png");
}
.projects.featured .project .card .pre.inkling .image {
  background-image: url("../img/inkling-pre.png");
}
.projects.featured .project .card .pre.quickmatch .image {
  background-image: url("../img/quickmatch-pre.png");
}
.projects.featured .project .card .card-content {
  display: inline-block;
  margin: 1.5em;
  vertical-align: top;
  width: 50%;
}
.projects.featured .project .card .card-content .read-more {
  display: block;
  margin-top: 0.7em;
  width: 7em;
}
.projects.featured .project .card .card-text {
  color: #999;
  font-size: 1.1em;
  line-height: 1.7em;
}
.projects-row {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 50vw;
}
.projects-row .project {
  margin-bottom: 3em;
  width: 30%;
}
.projects-row .project .card {
  border: 1px solid #ECECEC;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px #e6e6e6;
          box-shadow: 0 1px 4px #e6e6e6;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 0;
}
.projects-row .project .card:hover {
  -webkit-box-shadow: 0 3px 5px #ddd;
          box-shadow: 0 3px 5px #ddd;
}
.projects-row .project .card .image {
  background-color: #F7F7F7;
}
.projects-row .project .card .read-more {
  color: #E96057;
  font-size: 1.2em;
  font-style: italic;
  text-decoration: none;
}
.projects-row .project .card .card-title {
  color: #777;
  font-size: 1.5em;
  margin: 0 0 0.4em;
}
.projects-row .project .card .card-text {
  color: #999;
  font-size: 1.1em;
  line-height: 1.7em;
}
.projects-row .project .card .image {
  height: 100px;
  width: 100%;
}
.projects-row .project .card .card-title {
  font-size: 1em;
}
.projects-row .project .card .card-content {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
  text-align: center;
  width: 92%;
}
.projects-row .project .card .card-content .read-more {
  font-size: 1em;
  margin-top: 0;
}
@media only screen and (max-width: 1260px) {
  .page-header .splash-container .intro-text {
    width: 50vw;
  }
}
@media only screen and (max-width: 1080px) {
  .projects.featured .project {
    max-width: none;
    width: 80vw;
  }
}
@media only screen and (max-width: 800px) {
  .page-header .splash-container .intro-text {
    width: 50vw;
  }
  .page-header .splash-container .intro-text {
    width: 75vw;
  }
  .projects {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
                -ms-grid-row-align: baseline;
            align-items: baseline;
  }
  .projects.featured .project {
    width: 100vw;
  }
  .projects.featured .project .project-title {
    margin-left: 1em;
  }
}
@media only screen and (max-width: 500px) {
  html {
    font-size: 12px;
  }
  html .page-header .splash-container .intro-title {
    font-size: 4em;
    line-height: 1.2;
    margin-bottom: 0.25em;
    width: 85vw;
  }
  html .page-header .splash-container .header-nav .intro-link {
    text-align: center;
  }
}
