html,
body {
  height: 100%;
  margin: 0;
  padding: 0;
  width: 100%;
}
html {
  color: #777;
  font-family: "Lato", sans-serif;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.35px;
  line-height: 1.5em;
  text-rendering: optimizeLegibility;
}
.sticky-header {
  position: fixed;
  z-index: 2;
}
.sticky-nav {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: white;
  border-bottom: 1px solid #DFDFDF;
  -webkit-box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 0 1px 5px rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  padding: 0 18vw;
  width: 64vw;
}
.sticky-nav .nav-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #E96057;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1.2em;
  font-style: italic;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 0.75em;
  text-align: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
}
.sticky-nav .nav-item:hover {
  background-color: rgba(233, 96, 87, 0.05);
}
.sticky-nav .nav-item.sticky-name {
  cursor: pointer;
  font-family: "Museo Sans", "Museo Sans 500", sans-serif;
  font-style: normal;
}
@media only screen and (max-width: 800px) {
  .sticky-nav {
    padding: 0;
    width: 100vw;
  }
}
.window-container {
  background: #EAEAEA url("../../svg/browser.svg") no-repeat 11px 11px;
  background-size: 60px;
  -webkit-border-radius: 5px;
          border-radius: 5px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1.5em 3em 0.5em;
  width: 50vw;
}
.window-container:last-of-type {
  margin-bottom: 0;
}
.window-container img {
  -webkit-border-radius: 0 0 5px 5px;
          border-radius: 0 0 5px 5px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  top: 0;
  width: 100%;
}
.window-container h4 {
  background-color: #F7F7F7;
  color: #777;
  font-family: "Lato", sans-serif;
  font-size: 0.75em;
  margin: 0.75em auto;
  padding: 0.2em 0;
  text-align: center;
  width: 50%;
}
.project-footer {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #FFF;
  border-top: 1px solid #DFDFDF;
  -webkit-box-shadow: 0 -0.2em 20em rgba(0, 0, 0, 0.1);
          box-shadow: 0 -0.2em 20em rgba(0, 0, 0, 0.1);
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 10em 0 5em;
  position: relative;
}
.project-footer h2 {
  color: #BABABA;
  font-family: "Museo Sans", "Museo Sans 500", sans-serif;
  font-size: 2em;
  font-weight: 500;
  margin-bottom: 1.5em;
}
.project-footer h3 {
  font-family: "Lato", sans-serif;
  font-size: 0.8em;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 0.1em;
  margin: 3em 0 0.3em;
}
.project-footer h3:first-of-type {
  margin-top: 0;
}
.project-footer .footer-contact {
  color: #868686;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  font-family: "Lato", sans-serif;
  font-size: 1em;
  font-weight: 600;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  letter-spacing: 0.75px;
  margin-bottom: 4em;
  text-transform: uppercase;
  width: 50vw;
}
.project-footer .footer-contact a {
  -webkit-box-align: end;
  -webkit-align-items: flex-end;
      -ms-flex-align: end;
          align-items: flex-end;
  background-repeat: no-repeat;
  background-position: center 1.25em;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  color: #868686;
  cursor: pointer;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 6.5em;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 1.5em;
  text-decoration: none;
  -webkit-transition: background-color 0.3s;
  transition: background-color 0.3s;
  width: 6.5em;
}
.project-footer .footer-contact a:hover {
  background-color: #F7F7F7;
}
.project-footer .footer-contact a.email {
  background-image: url("../../svg/email.svg");
}
.project-footer .footer-contact a.form {
  background-image: url("../../svg/form.svg");
}
.project-footer .footer-contact a.linkedin {
  background-image: url("../../svg/linkedin.svg");
}
.project-footer .footer-contact a.twitter {
  background-image: url("../../svg/twitter.svg");
}
.project-footer .footer-projects {
  max-width: 760px;
}
.project-footer .footer-projects .card {
  border: 1px solid #ECECEC;
  -webkit-border-radius: 6px;
          border-radius: 6px;
  -webkit-box-shadow: 0 1px 4px #e6e6e6;
          box-shadow: 0 1px 4px #e6e6e6;
  text-decoration: none;
  -webkit-transition: -webkit-box-shadow 0.5s;
  transition: -webkit-box-shadow 0.5s;
  transition: box-shadow 0.5s;
  transition: box-shadow 0.5s, -webkit-box-shadow 0.5s;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.project-footer .footer-projects .card:hover {
  -webkit-box-shadow: 0 3px 5px #ddd;
          box-shadow: 0 3px 5px #ddd;
}
.project-footer .footer-projects .card .image {
  background-color: #F7F7F7;
}
.project-footer .footer-projects .card .read-more {
  color: #E96057;
  font-size: 1.2em;
  font-style: italic;
  text-decoration: none;
}
.project-footer .footer-projects .card .card-title {
  color: #777;
  font-size: 1.5em;
  margin: 0 0 0.4em;
}
.project-footer .footer-projects .card .card-text {
  color: #999;
  font-size: 1.1em;
  line-height: 1.7em;
}
.project-footer .footer-projects .card:hover .pre .image {
  -webkit-transform: scale(1.25);
      -ms-transform: scale(1.25);
          transform: scale(1.25);
}
.project-footer .footer-projects .card .pre {
  -webkit-border-radius: 3px 0 0 3px;
          border-radius: 3px 0 0 3px;
  border-right: 1px solid #ECECEC;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
  width: 41%;
}
.project-footer .footer-projects .card .pre .image {
  background-origin: border-box;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-box-flex: 1;
  -webkit-flex: 1 1 auto;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  transition: transform 0.3s ease-in-out, -webkit-filter 0.3s ease-in-out;
}
.project-footer .footer-projects .card .pre.quora .image {
  background-image: url("../../img/quora-pre.png");
}
.project-footer .footer-projects .card .pre.inkling .image {
  background-image: url("../../img/inkling-pre.png");
}
.project-footer .footer-projects .card .pre.quickmatch .image {
  background-image: url("../../img/quickmatch-pre.png");
}
.project-footer .footer-projects .card .card-content {
  display: inline-block;
  margin: 1.5em;
  vertical-align: top;
  width: 50%;
}
.project-footer .footer-projects .card .card-content .read-more {
  display: block;
  margin-top: 0.7em;
  width: 7em;
}
.project-footer .footer-projects .card .card-text {
  color: #999;
  font-size: 1.1em;
  line-height: 1.7em;
}
.copyright {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F7F7F7;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 10vh;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 5em;
  position: absolute;
  width: 100%;
}
@media only screen and (max-width: 1110px) {
  .project-footer .footer-projects .card .card-text {
    line-height: 1.4;
  }
}
@media only screen and (max-width: 690px) {
  .project-footer .footer-contact {
    width: 100vw;
  }
  .project-footer .footer-projects h3.project-title {
    margin-left: 1em;
  }
  .project-footer .footer-projects .card {
    -webkit-border-radius: 0;
            border-radius: 0;
  }
}
@media only screen and (max-width: 575px) {
  .project-footer .footer-contact {
    width: 85vw;
  }
  .project-footer .footer-contact a {
    background-size: 50px;
  }
}
@media only screen and (max-width: 450px) {
  html .project-page .project-footer {
    font-size: 10px;
  }
  html .project-page .project-footer .footer-contact a {
    background-size: 38px;
  }
  html .project-page .project-footer .footer-projects .card {
    -webkit-border-radius: 0;
            border-radius: 0;
  }
  html .project-page .project-footer .footer-projects .card .card-text {
    font-size: 1.3em;
  }
  html .project-page .project-footer .footer-projects .card .pre {
    -webkit-border-radius: 0;
            border-radius: 0;
  }
  html .project-page .project-footer h2 {
    line-height: 1.5;
    text-align: center;
  }
  html .project-page .project-footer h3 {
    font-size: 1em;
    margin-left: 1em;
  }
}
html {
  font-size: 15px;
}
html .project-page .sticky-header {
  z-index: 3;
}
html .project-page .sticky-header .nav-item {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  color: #777;
  font-size: 1.2em;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-decoration: none;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
}
html .project-page .sticky-header .nav-item:hover {
  background-color: rgba(233, 96, 87, 0.05);
}
html .project-page .sticky-header .nav-item.disabled {
  color: #CCC;
  cursor: default;
}
html .project-page .sticky-header .nav-item.disabled:hover {
  background-color: #FFF;
}
html .project-page .sticky-header .nav-item .sticky-name {
  cursor: pointer;
  font-family: "Museo Sans", "Museo Sans 500", sans-serif;
  font-style: normal;
}
html .project-page header {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f0f7f0;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  height: 100vh;
  padding: 10em 10vw;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
html .project-page header .window-container {
  background-size: 3em;
  margin-top: 0;
}
html .project-page header h1,
html .project-page header h2 {
  color: #868686;
  max-width: 760px;
  text-align: left;
}
html .project-page header h1 {
  font-family: "Museo Sans", "Museo Sans 500", sans-serif;
  font-size: 2.75em;
  font-weight: 500;
  line-height: 1.3em;
  margin: 0.5em 0;
}
html .project-page header h2 {
  font-family: "Lato", sans-serif;
  font-size: 1.25em;
  font-weight: 400;
  letter-spacing: 0.05em;
  line-height: 1.8;
}
html .project-page header .logo {
  min-width: 100px;
  max-width: 200px;
  width: 14vw;
}
html .project-page header .half {
  margin-right: 2em;
  width: 50vw;
}
html .project-page header .half .img-container {
  max-height: 500px;
  overflow-y: scroll;
}
html .project-page header .chevron {
  background-image: url("../../svg/green-chevron.svg");
  background-position: center;
  background-repeat: no-repeat;
  bottom: 0vh;
  cursor: pointer;
  height: 100px;
  left: 0;
  position: absolute;
  -webkit-transition: background-color 0.2s;
  transition: background-color 0.2s;
  width: 100%;
}
html .project-page header .chevron:hover {
  background-color: rgba(175, 226, 175, 0.15);
  cursor: pointer;
}
html .project-page article {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Lato", sans-serif;
  line-height: 1.8;
  text-align: center;
}
html .project-page article div {
  font-size: 1.4em;
  line-height: 1.8;
}
html .project-page article section {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  overflow: hidden;
  padding: 10em 0;
  width: 100%;
}
html .project-page article section.blunt {
  padding-bottom: 0;
}
html .project-page article section.continued {
  background-color: #fff;
  z-index: 2;
}
html .project-page article section.continued .over-cards {
  margin: 0 auto 1em;
}
html .project-page article section.continued .over-cards .little-card {
  border-top: none;
  bottom: 0.5em;
  -webkit-box-shadow: 0 2px 4px #e6e6e6;
          box-shadow: 0 2px 4px #e6e6e6;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.5em;
  position: relative;
}
html .project-page article section.continued .over-cards .little-card h4 {
  margin: 0;
}
html .project-page article section:nth-child(even) {
  background-color: #F7F7F7;
}
html .project-page article section div {
  color: #777;
  font-size: 1.3em;
  letter-spacing: 0.75px;
}
html .project-page article section div.full {
  margin: 0 15vw;
  width: 60vw;
}
html .project-page article section div.full p:first-of-type {
  margin: 0 0 4em;
}
html .project-page article section div.full .half {
  width: 50%;
}
html .project-page article section div.full.image {
  margin: 0;
}
html .project-page article section div.half {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
  min-width: 320px;
  text-align: left;
  width: 40vw;
}
html .project-page article section div.half:first-of-type {
  margin-right: 2em;
}
html .project-page article section div.half h3 {
  margin: 0 0 0 4em;
}
html .project-page article section div.half h3.red {
  color: #CE2D2D;
}
html .project-page article section div.half h3.blue {
  color: #81AAD9;
}
html .project-page article section div.half p {
  max-width: 550px;
}
html .project-page article section div.third-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 2em;
  width: 60vw;
}
html .project-page article section div.third-container .third-item {
  background-color: #FFF;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0;
  padding: 0.5em;
  width: 250px;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 4px;
          border-radius: 4px;
}
html .project-page article section div.third-container .third-item h3 {
  display: block;
  font-size: 0.6em;
  line-height: 1.6;
  margin: 0 auto 0.5em;
}
html .project-page article section div.third-container .third-item p {
  font-size: 0.5em;
  line-height: 1.7;
  margin: 0;
}
html .project-page article section div.fourth {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-justify-content: space-around;
      -ms-flex-pack: distribute;
          justify-content: space-around;
  margin-bottom: 3em;
  width: 80%;
}
html .project-page article section div.fourth .paper {
  background-color: #FFF;
  -webkit-box-shadow: 0 1px 4px #e6e6e6;
          box-shadow: 0 1px 4px #e6e6e6;
  border: 1px solid #ECECEC;
  height: 180px;
  width: 150px;
}
html .project-page article section div.fourth .paper img {
  bottom: 6px;
  border: 1px solid #ECECEC;
  -webkit-box-shadow: 0 1px 4px #e6e6e6;
          box-shadow: 0 1px 4px #e6e6e6;
  margin-top: 0.4em;
  min-width: 0;
  position: relative;
  right: 6px;
  width: 100%;
}
html .project-page article section div video {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  padding-top: 2.5em;
  width: 100%;
}
html .project-page article section div.window-container {
  font-size: 1em;
  letter-spacing: 0;
  max-height: 500px;
  width: 100%;
}
html .project-page article section div.window-container .img-container {
  max-height: 500px;
  overflow-y: scroll;
}
html .project-page article section div.window-container img {
  margin-top: 0;
  width: 100%;
}
html .project-page article section div.window-container h4 {
  font-size: 0.6em;
  letter-spacing: 0.35px;
  padding: 0;
}
html .project-page article section div.window-container:last-of-type {
  margin-bottom: 0;
}
html .project-page article section div.window-container .video {
  display: block;
  position: relative;
  top: 0.5em;
  width: 65vw;
}
html .project-page article section div.mobile-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 50vw;
}
html .project-page article section div.mobile-container video {
  background-color: #515151;
  -webkit-border-radius: 1em;
          border-radius: 1em;
  -webkit-box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
          box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  max-height: 630px;
  max-width: 370px;
  padding: 3.5em 0.1em;
}
html .project-page article section div.halves-container {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  font-size: 1em;
  margin-top: 3em;
  width: 75vw;
}
html .project-page article section div.halves-container h3 {
  margin-top: 0;
}
html .project-page article section div.halves-container .half-image {
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 40vw;
}
html .project-page article section div.halves-container .half-image img {
  height: 100%;
  margin-top: 0;
}
html .project-page article section div.halves-container .half-image img.screenshot {
  border: 1px solid #ECECEC;
  -webkit-box-shadow: 0 1px 4px #e6e6e6;
          box-shadow: 0 1px 4px #e6e6e6;
  width: 100%;
}
html .project-page article section div.standalone {
  height: 36em;
  margin-top: 3em;
  overflow: hidden;
}
html .project-page article section div.standalone img {
  height: 100%;
  width: 100%;
}
html .project-page article section h3 {
  color: #515151;
  font-size: 0.9em;
  letter-spacing: 1.5px;
  margin-top: 3em;
  text-transform: uppercase;
  width: 100%;
}
html .project-page article section h3.blue {
  color: #81AAD9;
}
html .project-page article section img {
  margin-top: 2em;
  min-width: 320px;
  position: relative;
}
html .project-page article ol {
  font-size: 1.2em;
  margin: 0;
  padding-left: 2.5em;
}
html .project-page article ol li {
  font-weight: 600;
  list-style-type: lower-roman;
  margin-bottom: 1em;
}
html .project-page article ol li p {
  font-weight: 500;
  line-height: 1.6;
  margin: 0.5em 0 0;
}
html .project-page article ol li:last-of-type {
  margin-bottom: 0;
}
@media only screen and (min-width: 1470px) {
  .project-page article section div.halves-container {
    width: 60vw;
  }
}
@media only screen and (max-width: 1110px) {
  html {
    font-size: 13px;
  }
  html .project-page header h2 {
    line-height: 1.6;
  }
  html .project-page article section div.half p {
    margin-top: 0.25em;
  }
  html .project-page article section h3,
  html .project-page article section h4 {
    margin-bottom: 0;
  }
  html .project-page article div {
    line-height: 1.6;
  }
}
@media only screen and (max-width: 935px) {
  html .sticky-nav {
    padding: 0;
    width: 100vw;
  }
}
@media only screen and (max-width: 805px) {
  html .sticky-nav {
    padding: 0;
    width: 100vw;
  }
  html .project-page header {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  html .project-page header h1,
  html .project-page header h2 {
    text-align: center;
  }
  html .project-page header .half {
    margin-right: 0;
    text-align: center;
    width: 75vw;
  }
  html .project-page header .half .img-container {
    max-height: 300px;
  }
  html .project-page header .window-container {
    margin-top: 2em;
    width: auto;
  }
  html .project-page header .window-container h4 {
    font-size: 1em;
  }
  html .project-page header .chevron {
    background-size: 12em;
  }
  html .project-page article div.full {
    margin: auto;
    width: 75vw;
  }
  html .project-page article div.full p:first-of-type {
    margin: 0 0 2em;
  }
  html .project-page article div.half {
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    text-align: center;
    width: 100vw;
  }
  html .project-page article div.half p {
    max-width: 100vw;
    width: 70vw;
  }
  html .project-page article section {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 8em 0;
  }
  html .project-page article section div.fourth {
    width: 100%;
  }
  html .project-page article section div.fourth .paper {
    height: 145px;
    width: 130px;
  }
  html .project-page article section div.fourth .paper img {
    width: 95%;
  }
  html .project-page article section div.halves-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    margin-top: 6em;
    width: 100vw;
  }
  html .project-page article section div.halves-container.icon {
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -webkit-flex-direction: column-reverse;
        -ms-flex-direction: column-reverse;
            flex-direction: column-reverse;
  }
  html .project-page article section div.halves-container .half-image {
    width: 100vw;
  }
  html .project-page article section div.halves-container .half-image img {
    height: 2em;
    margin-bottom: 1em;
  }
  html .project-page article section div.halves-container .half-image img.screenshot {
    height: auto;
    width: 65vw;
  }
  html .project-page article section div.standalone {
    height: 19em;
  }
  html .project-page article section div .window-container {
    width: 75%;
  }
  html .project-page article section div .window-container h4 {
    font-size: 0.7em;
  }
  html .project-page article section div .window-container .img-container {
    height: 350px;
    margin-top: 0.5em;
  }
}
@media only screen and (max-width: 690px) {
  html .project-page header .window-container h4 {
    font-size: 0.85em;
  }
  html .project-page header .half {
    width: 95vw;
  }
  html .project-page header .half .logo {
    width: 20vw;
  }
  html .project-page header .half h1 {
    margin-top: 0.25em;
  }
  html .project-page article div.full,
  html .project-page article div.half p {
    width: 85vw;
  }
  html .project-page article div.half {
    min-width: 100%;
  }
  html .project-page article section div.standalone {
    height: 17em;
  }
  html .project-page article section div.window-container {
    max-height: 300px;
  }
  html .project-page article section div.halves-container {
    margin-top: 4em;
  }
}
@media only screen and (max-width: 575px) {
  html {
    font-size: 11px;
  }
  html .project-page header .window-container h4 {
    font-size: 0.65em;
    text-transform: uppercase;
  }
  html .project-page header .window-container h4 h2 {
    letter-spacing: 0.5px;
  }
  html .project-page header .chevron {
    bottom: 0vh;
  }
  html .project-page article section {
    padding: 5em 0;
  }
  html .project-page article section div {
    letter-spacing: 0.5px;
  }
  html .project-page article section div.standalone {
    height: 15em;
  }
  html .project-page article section div.fourth {
    margin-left: 0.25em;
  }
  html .project-page article section div.fourth .paper {
    background: none;
    -webkit-box-shadow: none;
            box-shadow: none;
    border: none;
  }
}
@media only screen and (max-width: 450px) {
  html .project-page header .window-container .img-container {
    height: 23vh;
  }
  html .project-page header .window-container h4 {
    width: 65%;
    font-size: 0.75em;
  }
  html .project-page article section {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  html .project-page article section h3 {
    margin-top: 2em;
  }
  html .project-page article section h4 {
    margin-left: 4em;
    width: 100vw;
  }
  html .project-page article section div.full {
    width: 90vw;
    text-align: left;
  }
  html .project-page article section div.full p {
    text-align: left;
  }
  html .project-page article section div.half {
    min-width: 100%;
  }
  html .project-page article section div.half .img-container {
    max-height: 130px;
  }
  html .project-page article section div.half p {
    width: 85vw;
  }
  html .project-page article section div.fourth {
    margin-bottom: 0;
  }
  html .project-page article section div.fourth .paper img {
    width: 75%;
  }
  html .project-page article section div.standalone {
    height: 12em;
    margin-top: 0em;
  }
  html .project-page article section div.window-container {
    width: 90%;
  }
  html .project-page article section div.window-container h4 {
    margin: 1.2em auto 0;
    width: 50%;
  }
  html .project-page article section div.window-container .img-container {
    overflow-x: hidden;
  }
  html .project-page article section div.halves-container {
    margin-top: 2em;
  }
  html .project-page article section div.halves-container .half-image img {
    height: 2.5em;
  }
  html .project-page article section img {
    width: 300px;
  }
}
